body {
    /*font-family: monospace;*/
    background: #256A6A;
    text-align: left;
}

#img {
    width: 100%;
    height: 70%; 
}



h3 {
    text-align: center;
}

h6 {
    font-weight: bold;
}

p {
    display: inline;
}
